.piano{
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.658);
    
}
.controls{
    height: 60%;
}
.play_section{
    padding: 5px;
    background-color: gainsboro;
    height: 40%;
}
.key_B{

    text-align: center;
    width: 20px;
    height: 60%;
    display: inline-block;
    color: black;
    background-color: gray;
    position: relative;
    z-index: 9;
    margin-left: -12px;
    margin-right: -12px;
    
}
.key_W{
    text-align:center;
    width: 25px;
    height: 90%;
    display: inline-block;
    background-color: white;

}